@page
@inject Microsoft.AspNetCore.Identity.UserManager<Identity_Sample.Models.AppUser> UserManager
@model Identity_Sample.Pages.TestAuthorize2Model
<p class="alert alert-danger">@UserManager.GetUserName(User), you are access TestAuthorize1</p>